# Ignorer les dossiers node_modules dans tous les sous-dossiers
node_modules/

# Ignorer les dossiers de build
dist/
build/

# Logs et fichiers temporaires
*.log
*.tmp

# Systèmes spécifiques
.DS_Store
Thumbs.db

# Ignorer les fichiers d'environnement
.env
.env.local

# Ignorer les fichiers de cache de l'éditeur
.idea/
.vscode/
*.swp
